.global-content-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    min-height: calc(100vh - 135px);
}

.global-pager {
    text-align: right;
    margin-top: 10px;
}

.global-table-img{
    width:100px;
}
